.venv
__pycache__
**/__pycache__

output/*
!output/01011970-Company-Customer.pdf

invoice/data/senders/*
!invoice/data/senders/default.json

invoice/data/jobs/*
!invoice/data/jobs/test.json

invoice/data/recipients/*
!invoice/data/recipients/default.json